.SearchAria {
    position: relative;
    width: 100%;
    display: flex;
    height: 60px;
    background-color: #DEE1E6FF;
    justify-content: center;
    align-items: center;
}

.Search {
    height: 50%;
    width: 40%;
    background-color: rgb(183, 186, 190);
    border-radius: 50px;
    display: grid;
    grid-template-columns: 90% auto;
    justify-content: center;
    align-items: center;
}

.Search .Search-Button {
    cursor: pointer;
}

.Search>input {
    height: 50%;
    border: none;
    outline: none;
    background-color: rgb(183, 186, 190);
    box-sizing: border-box;
}

.User {
    height: 50px;
    width: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    right: 4rem;
}